/* Estilos para la ventana emergente */

.verify {
  display: block;
  width: 100px;
  height: 100px;
}

.popup {
  /*none*/
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  padding: 30px;
  background-color: #232044;
  border: 1px solid #232044;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.popup #f11{
  width: 100%;
  border-style: none;
  border-radius: 14;
  background-color: rgb(27, 24, 60);
}

.popup h3{
  padding: 0;
}
.popup input {
  display:flex;
  width: 90%;
  height: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  color: white;
}

.popup button {
  cursor: pointer;
  border-style: none;
  color: white;
  border: solid 0.1rem rgb(27, 24, 60);
  background-color: rgb(27, 24, 60);
  padding: .8rem;
  border-radius: 10px;
  gap: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
.popup button:first-child{
  margin-right: 1.2rem;
}

.popup button:last-child{
  margin-left: 1.2rem;
}
.popup button:hover {
  background-color: white;
  color: black;
}

.Mostrar {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  z-index: 9999;
}

.Mostrar input {
  display: block;
  width: 90%;
  height: 2rem;
  margin-bottom: 1rem;
  
}

.Mostrar button {
  cursor: pointer;
  border-style: none;
  color: black;
  border: solid 0.1rem black;
  background-color: white;
  padding: .5rem;
}

.Mostrar button:hover {
  background-color: black;
  color: white;
}

/* Estilos para el fondo oscurecido detrás de la ventana emergente */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}